/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
:root {
  --header-height: 40vh;
  --header-height-tall: 90vh;
  --header-image-url: url("/soundwave.jpg");
  --bs-primary: #9201CB;
  --bs-primary-hover: #7501A2;
  --bs-primary-active: #57017A;
  --bs-primary-rgb: 146,1,203;
}

.btn-primary {

  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary-hover);
  --bs-btn-hover-border-color: var(--bs-primary-hover);
  --bs-btn-active-bg: var(--bs-primary-active);
  --bs-btn-active-border-color: var(--bs-primary-active);


  /*
  --bs-btn-color: #760450;
  --bs-btn-bg: #F715AB;
  --bs-btn-border-color: #F715AB;
  --bs-btn-hover-bg: #EC09A0;
  --bs-btn-hover-border-color: #EC09A0;
  --bs-btn-active-bg: #C50786;
  --bs-btn-active-border-color: #C50786;
  */
}

* > .navbar-nav {
  --bs-nav-link-color: #000000;
  --bs-nav-link-hover-color: var(--bs-primary-active);
  --bs-navbar-active-color: var(--bs-primary)
}

.fs-1-4 {
  font-size: 1.4rem !important;
}

.btn-icon {
  background: none;
  color: var(--bs-primary);
  text-align: center;
  border: none;
  padding: 0px;
  font-size: 2rem;
}
.btn-icon.subtle {
  color: var(--bs-primary-active);
  font-size: 1.3rem;
}
.btn-icon:hover {
  color: var(--bs-primary-hover);
}
.btn-icon:active {
  color: var(--bs-primary-active);
}
.btn-icon.subtle:hover {
  color: var(--bs-primary);
}

.form-range:focus::-webkit-slider-thumb {
  box-shadow:
    0 0 0 1px #fff,
    0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}
.form-range:focus::-moz-range-thumb {
  box-shadow:
    0 0 0 1px #fff,
    0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}
.form-range::-moz-focus-outer {
  border: 0;
}
.form-range::-webkit-slider-thumb {
  background-color: var(--bs-primary);
}
.form-range::-webkit-slider-thumb:active {
  background-color: var(--bs-primary-hover);
}
.form-range::-moz-range-thumb {
  background-color: var(--bs-primary);
}
.form-range::-moz-range-thumb:active {
  background-color: var(--bs-primary-hover);
}

@media (aspect-ratio <= 8/5) {
  :root {
    --header-height: 30vh;
    --header-height-tall: 50vh;
  }
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28120, 120, 120, 0.80%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (width >= 600px) {
  .navbar-toggler-icon {
    width: 2.5em;
    height: 2.5em;
  }
}

.offcanvas-footer {
  bottom: 0;
  display: flex;
  flex-grow: 0;
  overflow-y: visible;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}

.header-container {
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--header-height)
}

.header-container.tall {
  height: var(--header-height-tall);
}

.bg-img-1 {
  --header-image-url: url("/soundwave.jpg");
}

.header-image::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(30%);
  z-index: -1;
  background-size: 100% var(--header-height);
  background-position: top center;
  height: var(--header-height);
  background-image: var(--header-image-url);
}

.header-image.tall::before {
  background-size: 100% var(--header-height-tall);
  height: var(--header-height-tall);
}

.header-title {
  color: white;
  text-align: center;
}

.header-subtitle {
  color: lightgray;
  text-align: center;
}

.verytall {
  height: 200vh;
}

.waveform-container {
  box-shadow: inset 0 1px 7px rgb(0 0 0 / 7.5%);
  background: rgb(252 252 252);
}

.waveform-player {
  background: rgb(240 240 240);
}

.div-grow-left {
  direction: rtl;
}

.div-grow-right {
  direction: ltr;
}

.vertical-range-container {
  position: absolute;
  height: 130px;
  margin-top: -130px;
  padding: 10px 14px;
  z-index: 3;
}

.vertical-range {
  position: relative;
  left: -11px;
  direction: rtl;
  height: 110px;
  width: initial;
  writing-mode: vertical-lr;
}

.vertical-range::-moz-range-track {
  width: revert;
  height: revert;
}

.create-soundbyte-container-container {
  border-style: solid;
  margin: 1em;
  display: inline-block;
  border-width: 1px;
  border-color: purple;
}

.exit-button {
  background-color: red;
  color: white;
  border-style: none;
}

.create-soundbyte-container {
  margin: 0.5em;
  font-size: 1.5em;
}
.create-soundbyte-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.empty-feed-msg {
  border-style: solid;
  border-radius: 1em;
  border-color: grey;
  padding: 2em;
  display: inline-block;
}

