{{page-title "Sounds"}}
<Nav/>
<div class="header-container header-image bg-img-1">
  <h1 class="header-title display-1">Soundbyte Not Found</h1>
  <h2 class="header-subtitle display-6">Listen and add sounds.</h2>
  <div class="header-actions m-2">
      <button type="button" class="btn btn-primary m-3" onclick="location.href='#record'">Record Sound</button>
  </div>
</div>