{{page-title "archived"}}
<Nav />
<div class="header-container header-image">
  <h1 class="header-title display-1">Archived Projects</h1>
  <h2 class="header-subtitle display-6">View and open archived proects here!</h2>
</div>
{{#if (eq this.categories.length 0)}}
  <div style="display:flex;justify-content:center;">
    <div class="empty-feed-msg">
      <h1>No Projects</h1>
      <p>Project feed is empty. Get started by creating a project in the sidebar!</p>
    </div>
  </div>
{{/if}}

<div class="container py-5">
  {{#each this.categories as |archived|}}
    <ul>
      <li class="fs-3">
       <LinkTo @route="sounds_by_cat" @model={{archived.name}}>{{archived.name}}</LinkTo>
        <span class="fs-4 ms-2 text-secondary">(Archived:
        {{display-date archived.date_archived}})</span>
      </li>
    </ul>
  {{/each}}
</div>
<div>

</div>